 
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Data & outputs (too large for git)
data/sample_images/*
outputs/annotated/*
outputs/distributions/*
!outputs/annotated/.gitkeep
!outputs/distributions/.gitkeep
!data/sample_images/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/